.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .new-expense__control {
    display: flex;
    flex-direction: column;
    width: 46%;
    .new-expense__input {
      height: 2rem;
      border-radius: 0.4rem;
      font-size: 1.2rem;
    }
  }
}
.new-expense__action {
  margin-top: 1rem;
  &--submit {
    height: 2rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
  }
  text-align: right;
}
