.expense-form__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .expense-form__control {
    display: flex;
    flex-direction: column;
    width: 46%;
    .expense-form__input {
      height: 2rem;
      border-radius: 0.4rem;
      font-size: 1.2rem;
    }
  }
}
.expense-form__action {
  margin-top: 1rem;
  &--submit {
    height: 2rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
  }
  text-align: right;
}
